body {
    background: #111;
    color: #ddd;
    font-family: Georgia, serif;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 40px;
}

h1 {
    color: gold;
}

.card {
    background: #1b1b1b;
    border: 1px solid #333;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

a {
    color: gold;
}